.quiz__content {
    margin: 0 auto;
    padding: 60px 15px;
    max-width: 1230px;
}

.question {
    margin: 0 auto;
    padding: 10px 20px;
    width: 550px;
    border-radius: 3px;
    background: #000;
    text-align: center;
}

.question__text {
    color: #fff;
    text-align: left;
}

.quiz-form {
    margin: 0 auto;
    padding-top: 20px;
    width: 550px;
    text-align: center;
}

.quiz-form__item {
    margin-bottom: 30px;
}

.quiz-form__group {
    margin-bottom: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.quiz-form__radio {
    display: none;
    /*本来のinput type="radio"はブラウザが自動で用意する丸いボタンだがそれを非表示にして見た目を自由にデザインできるようにしている。
    display: none;で消してもLTNL構造上では「ラベルとひもづいている」ため、labelをクリックしてもradioが反応する。
    つまり、「for」と「id」でつながっていれば
    inputが見えなくてもladioをクリックすると選択し状態になる。*/
}

.quiz-form__radio:checked+label {
    background: #ddd;
    /*ラジオボタンが選択肢状態(checked)のとき
    そのすぐ後ろにあるlabelの背景を変える。
    「+」は隣接セレクタと呼ばれる。
    これは「特定の要素のすぐ次にある兄弟要素」を指定する。
    <input>←チェックされる
    <label>←inputのすぐ隣*/
}

.quiz-form__label {
    display: block;
    /*label➡インライン要素 ブロックにして幅高さ余白を指定*/
    padding: 20px;
    width: 100%;
    cursor:pointer;
}

.quiz-form__button {
    width: 550px;
    /*フォームボタンを囲む外側のコンテナ（親要素）の幅を固定
    この中に実際のボタン（.quiz-form__button-submit）が入る*/
}

.quiz-form__button-submit {
    padding: 10px;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #000;
    color: #fff;
    cursor: pointer;
}
